<%- include('partials/header') %>  
<h1 id="textLarge">Welcome to Ayman Binti Yasin's portfolio page</h1>     
<img class="center" src="/images/ayman.jpg" width="300" height="300" alt="ayman">
  
<!-- Mission statement -->
<h2 id="textLarge"> My Mission</h2>
<div id="aboutText"> 
    I am a student in AI-Software Engineering Technology at Centennial College, who is passionate about web development and wants to pursue a career as a successful software engineer.
</div>
  
<br>
<button type="button" class="btn btn-info">Learn more about me</button>
<%- include('partials/footer') %>
